<table class="table table-hover m-table m-table--head-separator-brand" id="monografia_table">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Titulo
        </th>
        <th>
            Fecha
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for monografia in monografias %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ monografia.id.titulo }}</td>
            <td>{{ monografia.id.fechaCaptacion|date('d-m-Y') }}</td>
            <td>
                <ul class="m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a class="btn btn-secondary btn-sm" href="{{ path('monografia_show', { 'id': monografia.id.id }) }}">
                            <i class="flaticon-eye"></i> Ver</a>
                    </li>
                    <li class="m-nav__item">
                        <a class="btn btn-info btn-sm" href="{{ path('monografia_edit', { 'id': monografia.id.id }) }}">
                            <i class="flaticon-edit-1"></i> Editar</a>
                    </li>
                    <li class="m-nav__item">
                        <a class="btn btn-danger btn-sm  eliminar_monografia" data-href="{{ path('monografia_delete', { 'id': monografia.id.id }) }}">
                            <i class="flaticon-delete-1"></i> Eliminar</a>
                    </li>
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>
            #
        </th>
        <th>
            Titulo
        </th>
        <th>
            Fecha
        </th>
        <th>
        </th>
    </tr>
    </tfoot>
</table>
