{% extends 'layout/userprofile.html.twig' %}
{% block profile_content %}
    <div class="m-portlet m-portlet--tabs  ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Perfil de usuario
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item m-portlet__nav-item--last">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                             m-dropdown-toggle="hover" aria-expanded="true">
                            <a href="#"
                               class="m-portlet__nav-link m-dropdown__toggle">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <span class="m-nav__section-text">Acciones rápidas</span>
                                                </li>
                                                {% if allow_edit==true %}
                                                    <li class="m-nav__item">
                                                        <a href="{{ path('autor_edit',{'id':autor.id}) }}"
                                                           class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                            <span class="m-nav__link-text">Editar</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('reporte_autorresumenperiodo',{'id':autor.id}) }}"
                                                           class="m-nav__link" id="resumenperiodo_link">
                                                            <i class="m-nav__link-icon flaticon-pie-chart"></i>
                                                            <span class="m-nav__link-text">Resumen publicaciones</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if user_id!=app.user.id %}
                                                    <li class="m-nav__item">
                                                        <a data-href="{{ path('autor_subscripcion',{'id':autor.id}) }}"
                                                           class="m-nav__link follow-link">
                                                            <i class="m-nav__link-icon {{ follow_button ? 'flaticon flaticon-user-add' : 'flaticon flaticon-close' }}"></i>
                                                            <span class="m-nav__link-text">{{ follow_button ? 'Seguir' : 'Dejar de seguir' }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
                <div class="m-portlet__body">

                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Nombre</h3>
                                            <span class="m-widget1__desc">{{ autor.nombre }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">País</h3>
                                            <span class="m-widget1__desc">{{ autor.pais }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Teléfono</h3>
                                            <span class="m-widget1__desc">{{ autor.phone ? autor.phone : 'Sin captar'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-top-20">
                            <div class="col-md-6">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Ministerio</h3>
                                            <span class="m-widget1__desc">{{ autor.ministerio }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Centro de trabajo</h3>
                                            <span class="m-widget1__desc">{{ autor.institucion }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-top-20">
                            <div class="col-md-6">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Jefe</h3>
                                            <span class="m-widget1__desc">{{ autor.jefe }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Activo</h3>
                                            <span class="m-widget1__desc">
                                                <span class="m-badge m-badge--{{ autor.activo ? 'success' : 'danger' }} m-badge--wide">{{ autor.activo ? 'Si' : 'No' }}</span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-top-20">
                            <div class="col-md-6">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Área</h3>
                                            <span class="m-widget1__desc">{{ autor.area }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Grado científico</h3>
                                            <span class="m-widget1__desc">{{ autor.institucion }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item m--margin-top-40">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">Nombre de usuario</h3>
                                    <span class="m-widget1__desc">Usuario de acceso al sistema</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="">{{ autor.usuario }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">Correo electrónico</h3>
                                    <span class="m-widget1__desc">Dirección de correo electrónico de su centro de trabajo</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="">{{ autor.email }}</span>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--IMPORTANDO LAS LIBRERIAS DE AMCHART-->
    <script src="{{ asset('plugins/amcharts4/core.js','codice') }}"></script>
    <script src="{{ asset('plugins/amcharts4/charts.js','codice') }}"></script>
    <script src="{{ asset('plugins/amcharts4/themes/animated.js','codice') }}"></script>
    <!--FIN DE IMPORTANDO LAS LIBRERIAS DE AMCHART-->
    <script src="{{ asset('script/entity/autor.js','codice') }}"></script>
    <script>
        autor.show();
    </script>
{% endblock %}
