<table class="table table-hover m-table m-table--head-separator-brand" id="pais_table">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Nombre
        </th>
        <th>
            Capital
        </th>
        <th>
            Código
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for pais in paiss %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ pais.nombre }}</td>
            <td>{{ pais.capital }}</td>
            <td>{{ pais.codigo }}</td>
            <td>
                <ul class="m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a class="btn btn-info btn-sm edicion" data-href="{{ path('pais_edit', { 'id': pais.id }) }}">
                            <i class="flaticon-edit-1"></i> Editar</a>
                    </li>
                    <li class="m-nav__item">
                        <a class="btn btn-danger btn-sm  eliminar_pais" data-href="{{ path('pais_delete', { 'id': pais.id }) }}" data-csrf="{{ csrf_token('delete' ~ pais.id) }}">
                            <i class="flaticon-delete-1"></i> Eliminar</a>
                    </li>
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>
            #
        </th>
        <th>
            Nombre
        </th>
        <th>
            Capital
        </th>
        <th>
            Código
        </th>
        <th>
        </th>
    </tr>
    </tfoot>
</table>
