{% extends 'layout/userprofile.html.twig' %}
{% block profile_content %}
    <div class="m-portlet m-portlet--tabs  ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Detalles del tesis
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item m-portlet__nav-item--last">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                             m-dropdown-toggle="hover" aria-expanded="true">
                            <a href="#"
                               class="m-portlet__nav-link  m-dropdown__toggle">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <span class="m-nav__section-text">Acciones rápidas</span>
                                                </li>
                                                {% if esGestor==true %}
                                                <li class="m-nav__item">
                                                    <a href="{{ path('tesis_edit',{'id':tesis.id.id}) }}" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                        <span class="m-nav__link-text">Editar</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                <li class="m-nav__item">
                                                    <a href="{{ path('publicacion_descargar',{'id':tesis.id.id}) }}" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-download"></i>
                                                        <span class="m-nav__link-text">Descargar</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="{{ path('publicacion_exportar',{'id':tesis.id.id}) }}" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-file-1"></i>
                                                        <span class="m-nav__link-text">Exportar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
                <div class="m-portlet__body">

                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Título</h3>
                                            <span class="m-widget1__desc">{{ tesis.id.titulo }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Fecha de publicación</h3>
                                            <span class="m-widget1__desc">{{ tesis.id.fechaCaptacion|date('d-m-Y') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Autor</h3>
                                            <span class="m-widget1__desc">{{ tesis.id.autor }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m--margin-top-20">
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Institución</h3>
                                            <span class="m-widget1__desc">{{ tesis.institucion }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Estado</h3>
                                            <span class="m-widget1__desc">{{ tesis.id.getEstadoString() }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-top-20">
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Palabras claves</h3>
                                            <span class="m-widget1__desc">{{ tesis.id.keywords }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Estado</h3>
                                            <span class="m-widget1__desc">{{ tesis.id.getEstadoString() }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Tipo de tesis</h3>
                                            <span class="m-widget1__desc">{{ tesis.tipoTesis }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-top-20">
                            <div class="col-md-12">
                                <div class="m-widget1__item">
                                    <div class="">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Resumen</h3>
                                            <blockquote>{{ tesis.id.resumen }}</blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
