<!DOCTYPE html>
<html>
<head>
    <title>Resumen de publicaciones</title>
    <meta charset="UTF-8"/>
    <style>
        body{
            padding: 3%;
        }
        div.header{
            text-align: center;
            color: gray;
            margin-bottom: 4%;
        }
        div.header h3{
            margin-bottom: 0.4%;
        }
        table{
            width: 100% !important;
        }
        table td, th{
            padding: .75rem;
            border-top: 1px solid #f4f5f8;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="header">
    <h3>Publicaciones de {{ autor }}</h3>
    <span>Periodo: {{ finicio | date('d-m-Y') }} - {{ ffin | date('d-m-Y') }}</span>
</div>
{% if esDirectivo==true %}
    <table class="table m-table m-table m-table--head-separator-primary">
        <thead>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>

            <th>
                Propio
            </th>

            <th>
                Porciento
            </th>
        </tr>
        </thead>
        <tbody>
        {% for obj in resumen %}
            <tr>
                <td>{{ obj['entidad'] }}</td>
                <td>{{ obj['total'] }}</td>
                <td>{{ obj['propio'] }}</td>
                <td>{{ obj['total']==0 ? 0 : obj['propio']/total*100 }}%</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No existen publicaciones en el período</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>
            <th>
                Propio
            </th>
            <th>
                Porciento
            </th>
        </tr>
        </tfoot>
    </table>
{% else %}
    <table class="table m-table m-table m-table--head-separator-primary">
        <thead>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>
            <th>
                Porciento
            </th>
        </tr>
        </thead>
        <tbody>
        {% for obj in resumen %}
            <tr>
                <td>{{ obj['entidad'] }}</td>
                <td>{{ obj['total'] }}</td>
                <td>{{ obj['total']==0 ? 0 : obj['total']/total*100 }}%</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No existen publicaciones en el período</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>
            <th>
                Porciento
            </th>
        </tr>
        </tfoot>
    </table>
{% endif %}

<div class="header">
    <h3>Resumen por trabajadores</h3>
</div>
{% if esDirectivo==true %}
    <div class="tab-pane" id="resumen_por_subordinado" class="resumen_por_subordinado">
        <table class="table" id="resumen_por_subordinado">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Encuentro</th>
                <th>Premio</th>
                <th>Tesis</th>
                <th>Software</th>
                <th>Patente</th>
                <th>Norma</th>
                <th>Monografia</th>
                <th>Libro</th>
                <th>Articulo</th>
            </tr>
            </thead>
            {% for obj in resumen_subordinados %}
                <tr>
                    <td>{{ obj['autor'] }}</td>
                    <td>{{ obj['Encuentro'] }}</td>
                    <td>{{ obj['Premio'] }}</td>
                    <td>{{ obj['Tesis'] }}</td>
                    <td>{{ obj['Software'] }}</td>
                    <td>{{ obj['Patente'] }}</td>
                    <td>{{ obj['Norma'] }}</td>
                    <td>{{ obj['Monografia'] }}</td>
                    <td>{{ obj['Libro'] }}</td>
                    <td>{{ obj['Articulo'] }}</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Encuentro</th>
                <th>Premio</th>
                <th>Tesis</th>
                <th>Software</th>
                <th>Patente</th>
                <th>Norma</th>
                <th>Monografia</th>
                <th>Libro</th>
                <th>Articulo</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endif %}
</body>
</html>
