<div class="modal-dialog modal-full">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Publicaciones en el período
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">

                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Resumen
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
                                role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#resumen_tabla"
                                       role="tab" aria-selected="true">
                                        <i class="flaticon-grid-menu"></i> Tabla
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#resumen_grafico"
                                       role="tab" aria-selected="false">
                                        <i class="flaticon-pie-chart"></i> Gráfico
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="resumen_tabla">
                                {% if esDirectivo==true %}
                                    <table class="table m-table m-table m-table--head-separator-primary">
                                        <thead>
                                        <tr>
                                            <th>
                                                Tipo de publicación
                                            </th>
                                            <th>
                                                Total
                                            </th>

                                            <th>
                                                Propio
                                            </th>

                                            <th>
                                                Porciento
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in resumen %}
                                            <tr>
                                                <td>{{ obj['entidad'] }}</td>
                                                <td>{{ obj['total'] }}</td>
                                                <td>{{ obj['propio'] }}</td>
                                                <td>{{ obj['total']==0 ? 0 : obj['propio']/total*100 }}%</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="4">No existen publicaciones en el período</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>
                                                Tipo de publicación
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Propio
                                            </th>
                                            <th>
                                                Porciento
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                {% else %}
                                    <table class="table m-table m-table m-table--head-separator-primary">
                                        <thead>
                                        <tr>
                                            <th>
                                                Tipo de publicación
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Porciento
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in resumen %}
                                            <tr>
                                                <td>{{ obj['entidad'] }}</td>
                                                <td>{{ obj['total'] }}</td>
                                                <td>{{ obj['total']==0 ? 0 : obj['total']/total*100 }}%</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="4">No existen publicaciones en el período</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>
                                                Tipo de publicación
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Porciento
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="resumen_grafico" class="resumen_grafico">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-success exportar_reporte"><i class="flaticon-file"></i> Exportar</a>
                <a class="btn btn-sm btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
            </div>
        </div>
    </div>
</div>
