<!DOCTYPE html>
<html>
<head>
    <title>Resumen de publicaciones</title>
    <meta charset="UTF-8"/>
    <link href="{{ absolute_url(asset('vendors/base/vendors.bundle.css','template'))}}" rel="stylesheet" type="text/css" />
    <link href="{{ absolute_url(asset('demo/demo9/base/style.bundle.css','template'))}}" rel="stylesheet" type="text/css" />
    <style>
        div.header{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="header m--margin-bottom-30">
    <h3>Publicaciones de {{ autor }}</h3>
    <span>Periodo: {{ finicio | date('d-m-Y') }} - {{ ffin | date('d-m-Y') }}</span>
</div>
{% if esDirectivo==true %}
    <table class="table m-table m-table m-table--head-separator-primary m--margin-bottom-3">
        <thead>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>

            <th>
                Propio
            </th>

            <th>
                Porciento
            </th>
        </tr>
        </thead>
        <tbody>
        {% for obj in resumen %}
            <tr>
                <td>{{ obj['entidad'] }}</td>
                <td>{{ obj['total'] }}</td>
                <td>{{ obj['propio'] }}</td>
                <td>{{ obj['total']==0 ? 0 : obj['propio']/total*100 }}%</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No existen publicaciones en el período</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>
            <th>
                Propio
            </th>
            <th>
                Porciento
            </th>
        </tr>
        </tfoot>
    </table>
{% else %}
    <table class="table m-table m-table m-table--head-separator-primary">
        <thead>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>
            <th>
                Porciento
            </th>
        </tr>
        </thead>
        <tbody>
        {% for obj in resumen %}
            <tr>
                <td>{{ obj['entidad'] }}</td>
                <td>{{ obj['total'] }}</td>
                <td>{{ obj['total']==0 ? 0 : obj['total']/total*100 }}%</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No existen publicaciones en el período</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>
                Tipo de publicación
            </th>
            <th>
                Total
            </th>
            <th>
                Porciento
            </th>
        </tr>
        </tfoot>
    </table>
{% endif %}

<div class="header m--margin-bottom-20">
    <h4>Resumen por trabajadores</h4>
</div>
{% if esDirectivo==true %}
    <div class="tab-pane" id="resumen_por_subordinado" class="resumen_por_subordinado">
        <table class="table m-table m-table m-table--head-separator-primary" id="resumen_por_subordinado">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Evento</th>
                <th>Premio</th>
                <th>Tesis</th>
                <th>Software</th>
                <th>Patente</th>
                <th>Norma</th>
                <th>Monografia</th>
                <th>Libro</th>
                <th>Articulo</th>
            </tr>
            </thead>
            {% for obj in resumen_subordinados %}
                <tr>
                    <td>{{ obj['autor'] }}</td>
                    <td>{{ obj['Evento'] }}</td>
                    <td>{{ obj['Premio'] }}</td>
                    <td>{{ obj['Tesis'] }}</td>
                    <td>{{ obj['Software'] }}</td>
                    <td>{{ obj['Patente'] }}</td>
                    <td>{{ obj['Norma'] }}</td>
                    <td>{{ obj['Monografia'] }}</td>
                    <td>{{ obj['Libro'] }}</td>
                    <td>{{ obj['Articulo'] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="10">Los subordinados no tienen publicaciones en ese periodo</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Evento</th>
                <th>Premio</th>
                <th>Tesis</th>
                <th>Software</th>
                <th>Patente</th>
                <th>Norma</th>
                <th>Monografia</th>
                <th>Libro</th>
                <th>Articulo</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endif %}
</body>
</html>
