{{ form_start(form,{'attr':{
    'class':'m-form  m-form--state m-form--fit m-form--label-align-right'
}}) }}
<div class="m-portlet__body">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.id.titulo) }}
                </label>
                <div>
                    {{ form_widget(form.id.titulo) }}
                    {{ form_errors(form.id.titulo) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.pais) }}
                </label>
                <div>
                    {{ form_widget(form.pais) }}
                    {{ form_errors(form.pais) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.id.fechaCaptacion) }}
                </label>
                <div>
                    {{ form_widget(form.id.fechaCaptacion) }}
                    {{ form_errors(form.id.fechaCaptacion) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row m--margin-top-40">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.isbn) }}
                </label>
                <div>
                    {{ form_widget(form.isbn) }}
                    {{ form_errors(form.isbn) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.issn) }}
                </label>
                <div>
                    {{ form_widget(form.issn) }}
                    {{ form_errors(form.issn) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.organizador) }}
                </label>
                <div>
                    {{ form_widget(form.organizador) }}
                    {{ form_errors(form.organizador) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-40">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.ciudad) }}
                </label>
                <div>
                    {{ form_widget(form.ciudad) }}
                    {{ form_errors(form.ciudad) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.tipoEvento) }}
                </label>
                <div>
                    {{ form_widget(form.tipoEvento) }}
                    {{ form_errors(form.tipoEvento) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-40">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.id.keywords) }}
                </label>
                <div>
                    {{ form_widget(form.id.keywords) }}
                    {{ form_errors(form.id.keywords) }}
                </div>
            </div>
        </div>
        {% if form.id.estado is defined %}
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.id.estado) }}
                    </label>
                    <div>
                        {{ form_widget(form.id.estado) }}
                        {{ form_errors(form.id.estado) }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if form.id.file is defined %}
            <div class="col-md-4">
                <div class="form-group m-form__group">
                    <label>
                        {{ form_label(form.id.file) }}
                    </label>
                    <div>
                        {{ form_widget(form.id.file) }}
                        {{ form_errors(form.id.file) }}
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" id="evento_file">
                        <i class="la la-cloud-upload"></i> Cargar archivo
                    </button>
                    <span class="custom-file-control"></span>
                </div>
            </div>
        {% endif %}
    </div>


    <div class="row m--margin-top-40">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.id.resumen) }}
                </label>
                <div>
                    {{ form_widget(form.id.resumen) }}
                    {{ form_errors(form.id.resumen) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-7">
                <button type="submit"
                        class="btn btn-primary m-btn btn-sm m-btn--air m-btn--custom"><i
                            class="flaticon-edit"></i> {{ button_action|default('Guardar') }}</button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-metal btn-sm m-btn m-btn--air m-btn--custom"><i
                            class="flaticon-cancel"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}