{% extends 'layout/userprofile.html.twig' %}
{% block profile_content %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-list-3"></i></span>
                    <h3 class="m-portlet__head-text">
                        Eventos
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a data-href="{{ path('evento_index',{'id':user_id}) }}" class="btn btn-sm m-btn" id="evento_tablerefrescar">
                            <span><i class="flaticon-refresh"></i></span> Refrescar
                        </a>
                    </li>
                    {% if esGestor==true %}
                    <li class="m-portlet__nav-item">
                        <a href="{{ path('evento_new',{'id':user_id}) }}" class="btn btn-sm btn-primary m-btn text-uppercase"  data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Registrar un nuevo evento">
                            <span><i class="flaticon-add"></i></span> Nuevo
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            {%include 'evento/_table.html.twig'%}
            <!--end: Datatable -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('script/entity/evento.js','codice') }}"></script>
    <script>
        var total ={{eventos |length }}
            evento.init();
    </script>
{% endblock %}

