<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link href="{{ absolute_url(asset('vendors/base/vendors.bundle.css','template'))}}" rel="stylesheet" type="text/css" />
    <link href="{{ absolute_url(asset('demo/demo9/base/style.bundle.css','template'))}}" rel="stylesheet" type="text/css" />
    <style>
        .center {
            text-align: center;
        }
        th {
            font-weight: bold !important;
            width: 300px !important;
            text-align: left;
        }

        thead tr {
            background-color: rebeccapurple !important;
        }
    </style>
</head>
<body class="m--padding-40">

<div class="center m--margin-top-20 m--margin-bottom-30">
    <h4>{{ entidad.id.titulo }}</h4>
    <span class="text-muted m--font-bold">por {{ entidad.id.autor }}</span>
</div>

<table class="table m-table m-table m-table--head-separator-primary">
    <tr>
        <th>Fecha de publicación</th>
        <td>{{ entidad.id.fechaCaptacion|date('d-m-Y') }}</td>
    </tr>
    <tr>
        <th>Palabras claves</th>
        <td>{{ entidad.id.keywords }}</td>
    </tr>
    {% block table_information %}
    {% endblock table_information %}
    <tr>
        <th>Resumen</th>
        <td>
            <p>{{ entidad.id.resumen }}</p>
        </td>
    </tr>
</table>
</body>
</html>
