{% extends 'base.html.twig' %}

{% block title %}Publicacion index{% endblock %}

{% block body %}
    <h1>Publicacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Resumen</th>
                <th>Mes</th>
                <th>Anno</th>
                <th>Keywords</th>
                <th>FechaCaptacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicacion in publicacions %}
            <tr>
                <td>{{ publicacion.id }}</td>
                <td>{{ publicacion.titulo }}</td>
                <td>{{ publicacion.resumen }}</td>
                <td>{{ publicacion.mes }}</td>
                <td>{{ publicacion.anno }}</td>
                <td>{{ publicacion.keywords }}</td>
                <td>{{ publicacion.fechaCaptacion ? publicacion.fechaCaptacion|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('publicacion_show', {'id': publicacion.id}) }}">show</a>
                    <a href="{{ path('publicacion_edit', {'id': publicacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publicacion_new') }}">Create new</a>
{% endblock %}
