{% extends 'publicacion/_exportar.html.twig' %}
{% block table_information %}
    <tr>
        <th>Páginas</th>
        <td>{{ entidad.paginas }}</td>
    </tr>
    <tr>
        <th>Volumen</th>
        <td>{{ entidad.volumen }}</td>
    </tr>
    <tr>
        <th>ISBN</th>
        <td>{{ entidad.isbn }}</td>
    </tr>
    <tr>
        <th>Número</th>
        <td>{{ entidad.numero }}</td>
    </tr>
    <tr>
        <th>Serie</th>
        <td>{{ entidad.serie }}</td>
    </tr>
{% endblock table_information %}
