{% extends "layout/base.html.twig" %}
{% block subheader %}
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    {% block page_title %}{% endblock page_title %}
                </h3>
            </div>
            <div>
                {% block rightoptions_block %}{% endblock rightoptions_block %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendors/custom/datatables/datatables.bundle.css','template') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendors/custom/fullcalendar/fullcalendar.bundle.css','template') }}"/>
{% endblock %}
{% block header %}
    {% embed "layout/recortes/header.html.twig" %}
        {% block top_menu %}
            {% if is_granted('ROLE_ADMIN') %}
            {{ include('layout/recortes/topmenu/admin_topmenu.html.twig') }}
            {%  endif %}

        {% endblock top_menu %}
        {% block user_shortcut_menu %}
            {{ include('layout/recortes/topmenu/search_topmenu.html.twig') }}
            {{ include('layout/recortes/topmenu/notification_topmenu.html.twig') }}
            {{ include('layout/recortes/topmenu/message_topmenu.html.twig') }}
            {{ include('layout/recortes/topmenu/user_topmenu.html.twig') }}
        {% endblock %}
    {% endembed %}
{% endblock header %}


{% block javascripts %}
    {{ parent() }}
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-left",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    <script type="text/javascript" src="{{ asset('vendors/custom/datatables/datatables.bundle.js','template') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/custom/fullcalendar/fullcalendar.bundle.js','template') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/bootbox/bootbox.min.js','codice') }}"></script>
    <script src="{{ asset('script/base/authenticated.js','codice') }}"></script>
    <script>
        authenticated.init();
        var datatable_url = '{{ asset('plugins/datatable/es.json','codice') }}';
    </script>
{% endblock %}
