{% extends 'layout/autenticado.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page/userprofile.css','codice') }}"/>
{% endblock %}
{% block body %}
    <div class="sombreada">
        <div class="m--margin-top-40 banner">
            <div class="banner-info">
                <div class="col-md-4">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide">
                            Your Profile
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                {% if user_foto!=null %}
                                    {% set rutaFoto=  asset('archivos/'~user_foto) %}
                                {% else %}
                                    {% set rutaFoto= asset('app/media/img/users/user4.jpg','template') %}
                                {% endif %}
                                <a href="{{ path('autor_show',{'id':user_id}) }}">
                                    <img src="{{ rutaFoto }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="m-card-profile__details">
                            <span class="m-card-profile__name">{{ user_nombre }}</span>
                            <a href="" class="m-card-profile__email m-link">{{ user_correo }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile_menu">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ path('autor_show',{'id':user_id}) }}"
                                                    class="nav-link m-link"><i class="flaticon-profile-1"></i>Perfil</a>
                    </li>
                    {% if not is_granted('ROLE_SUPERADMIN') %}
                        {% if (app.user.id==user_id and is_granted('ROLE_DIRECTIVO')) or (esDirectivo is defined and esDirectivo==true) %}
                            <li class="list-inline-item"><a href="{{ path('autor_index',{'id':user_id}) }}"
                                                            class="nav-link m-link"><i class="flaticon-users"></i>Subordinados</a>
                            </li>
                        {% endif %}
                        <li class="list-inline-item"><a href="{{ path('autor_seguidores',{'id':user_id}) }}"
                                                        class="nav-link m-link"><i
                                        class="flaticon-network"></i>Seguidores</a>
                        </li>
                        <li class="list-inline-item"><a href="{{ path('autor_seguidos',{'id':user_id}) }}"
                                                        class="nav-link m-link"><i class="flaticon-profile"></i>Seguidos</a>
                        </li>
                        <li class="m-dropdown m-dropdown--huge m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push"
                            m-dropdown-toggle="click" aria-expanded="true">
                            <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link"
                               style="box-shadow: none !important">
                                <i class="flaticon-file"></i>Publicaciones
                            </a>
                            <div class="m-dropdown__wrapper" style="z-index: 101;">
                        <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"
                              style="right: auto; left: 24px;"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('evento_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-map-location"></i>
                                                                <span class="m-nav__link-text">
																							Eventos
																						</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('premio_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-gift"></i>
                                                                <span class="m-nav__link-text">
																							Premios
																						</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('tesis_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-file-1"></i>
                                                                <span class="m-nav__link-text">
																							Tesis
																						</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('software_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-analytics"></i>
                                                                <span class="m-nav__link-text">
																							Softwares
																						</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('patente_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-file"></i>
                                                                <span class="m-nav__link-text">
																							Patentes
																						</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('norma_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-file"></i>
                                                                <span class="m-nav__link-text">
																							Normas
																						</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('monografia_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-file"></i>
                                                                <span class="m-nav__link-text">
																							Monografías
																						</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('libro_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-book"></i>
                                                                <span class="m-nav__link-text">
																							Libros
																						</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('articulo_index',{'id':user_id}) }}"
                                                               class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-file"></i>
                                                                <span class="m-nav__link-text">
																							Artículos
																						</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% block profile_content %}
        {% endblock profile_content %}
    </div>
{% endblock %}
